<div class="container">
    <div class="todo-wrapper">
        <div class="form-group">
          <div class="text-center">
            <h1 class="text-primary">Todo List</h1>
            <p>Enter text into the input field to add items to your list</p>
            <p>Click the "X" to remove the item from your list</p>
            <p>Click the item to mark it as complete</p>
          </div>
          <!-- input  -->
          <app-input  (inputValue)="addTask($event)"></app-input>
          <!-- end input  -->
            <!-- data  -->
            <div class="data">
                <ul *ngFor="let task of taskArray ; let i = index;">
                  <!-- item -->
                    <app-todo [task] = 'task'
                              [changeColor]='changeColor[i]'
                              (deleteTask)="deleteTask(task)"
                              (changeStatus)="changeStatus(i)"
                              >
                    </app-todo>
                    <!-- end item  -->
                </ul>
            </div>
            <!-- end data  -->
        </div>
    </div>
</div>
